body {
  background-color: #000000;
}
#skip-nav {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  color: #ffffff;
}
#skip-nav:hover {
  text-decoration: underline;
}
.site-nav {
  list-style: none;
  padding-left: 5px;
  font-size: 20px;
}
@media all and (min-width: 400px) {
.site-nav {
  display: flex;
  justify-content: space-around;
  padding: 5px;}
}
.nav-item a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-style: solid;
  border-radius: 8px;
  padding: 5px;
}
nav ul li a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 50px; 
  text-align: center; 
  text-transform: uppercase;
  font-family: lucida handwriting;
  color: #800000;  
}
main {
  margin-bottom: 20px;
}
h2 {
  font-size: 35px;
  font-family: Trebuchet MS;
  color: #d7d703; 
  text-align: center;
}
h3 {
  font-size: 25px;
  font-family: Trebuchet MS;
  color: #d7d703;
}
p {
  font-family: Trebuchet MS;
  color: #ffffff;
  font-size: 20px;
}
.int-pg {
  font-family: Trebuchet MS;
  color: #ffffff;
  font-size: 20px;
}
.book-series {
  max-width: 100%;
  height: auto;
}
@media all and (min-width: 500px) {
  .book-series {
    display: flex;
    justify-content: center;
  }
}
.home-image {
  margin-right: 10px;
  border-style: dotted;
  border-color: #d7d703;
}
.home-image:last-child {
margin-right: 0px;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  max-width: 100%;
  height: auto;
}
.site-menu {
  list-style: none;
  padding-top: 10px;
}
.center-list {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  color: #ffffff;
  font-family: Trebuchet MS;
}
.interior-image {
  float: right;
  border-style: dotted;
  border-color: #d7d703;
}
#page-footer {
  margin-top: 50px;
  font-family: Trebuchet MS;
  font-size: 15px;
  border-color: #d7d703;
  border-top-style: solid;
}
iframe {
  border-style: solid;
  border-color: #d7d703;
  border-width: 5px;
}
