#skip-nav {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}
#skip-nav:hover {
  text-decoration: underline
}
.site-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 5px;
  font-size: 20px;
}
.nav-item {
  border-bottom: 1px solid black;
  padding: 5px; 
}
.nav-item a {
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 50px; 
  text-align: center; 
  text-transform: uppercase; 
  text-decoration: underline; 
}
h2 {
  font-size: 30px;
  text-decoration: underline;
}
.book-series {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 5px;
  font-size: 20px;
}
.site-menu {
  list-style: none;
  padding: 0;
  width: 200px;
}
.center-list {
  text-align: center;
  list-style-type: none;
}
.middle-logo {
max-width: 960px;
margin: auto;
}
.site-menu,
.middle-logo,
.copyright {
float: left;
text-align: center;
}
.site-menu,
.copyright {
width: 20%;
}
.middle-logo {
width: 60%;
}
.interior-image {
  float: right
}