#skip-nav {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}
#skip-nav:hover {
  text-decoration: underline;
}
.site-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 5px;
  font-size: 20px;
}
.nav-item a {
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 50px; 
  text-align: center; 
  text-transform: uppercase;
  font-family: lucida handwriting;  
}
h2 {
  font-size: 35px;
  font-family: Trebuchet Ms; 
}
h3 {
  font-size: 25px;
}
p {
  font-family: Trebuchet MS;
}
.book-series {
  display: flex;
  justify-content: center;
}
.home-image {
  margin-right: 10px;
}
.home-image:last-child {
margin-right: 0px;
}
.site-menu {
  list-style: none;
  padding: 0;
  width: 200px;
}
.center-list {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}
.middle-logo {
max-width: 960px;
margin: auto;
}
.site-menu,
.middle-logo,
.copyright {
float: left;
text-align: center;
}
.site-menu,
.copyright {
width: 20%;
}
.middle-logo {
width: 60%;
}
.interior-image {
  float: right;
}